@model vwmOverviewFriendPets
@{
    ViewData["Title"] = "Overview Pets Country";
}

<div class="container px-4 py-4" id="overview-by-country">
    <h2 class="pb-2 text-center">Overview in @Model.Country</h2>

    @if (Model.FriendsAndPetsByCity.Any())
    {
        <div class="row row-cols-1 row-cols-md-5 g-4">
            @foreach (var item in Model.FriendsAndPetsByCity)
            {
                <div class="col">
                    <div class="card h-100 shadow-sm">
                        <div class="card-header themed-grid-head-col">
                            <h5 class="card-title text-center">@item.City</h5>
                        </div>
                        <div class="card-body themed-grid-col d-flex flex-column justify-content-center align-items-center">
                            <span class="fs-6">Friends: <span class="fw-bold">@item.NrFriends</span></span>
                            <span class="fs-6">Pets: <span class="fw-bold">@item.NrPets</span></span>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="text-center mt-5">
            <p class="alert alert-info">No data available for @Model.Country.</p>
        </div>
    }
</div>